.liner,.liner-small{
    display:inline-block
}
.hero-text.signature-hans h3,.intro-caps h3,.intro-caps h5 span,.main-heading h1,.main-link,.project-title.signature-hans h1,.team-info h4{
    text-transform:uppercase
}
.works-item.signature-hans,body.preloader-running,html.preloader-running{
    overflow:hidden
}
body,html{
    overflow-x:hidden
}
body{
    margin:0
}
p{
    font-size:12px;
    line-height:25px;
    margin-bottom:0
}
h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:0
}
a{
    text-decoration:none!important
}
a:focus{
    outline:0
}
.main-heading h1{
    font-size:32px;
    line-height:32px;
    color: #fffx;
    font-weight: bold;
    letter-spacing:4px
}
.main-heading h6{
    font-size:14px;
    line-height:21px;
    margin-top:10px
}
.liner{
    width:200px;
    height:5px;
    margin-top:10px;
    margin-bottom:20px
}
.liner-small{
    width:100px;
    height:2px;
    margin-top:10px;
    margin-bottom:10px
}
.hero-text.signature-hans h3{
    font-size:64px;
    line-height:72px;
    letter-spacing:12px
}
.hero-text.signature-hans h6{
    font-size:14px;
    line-height:21px;
    padding:10px 0;
    margin-bottom:20px
}
.page-top-spacing{
    margin-top:400px
}
.page-fold.subtle{
    top:0;
    position:fixed;
    width:100%;
    z-index:-1;
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed!important
}
.first-fold.signature-hans .main-heading.fixed-bottom{
    position:absolute;
    bottom:50%
}
.trans-white-overlay{
    background-color:rgba(255,255,255,.4)
}
.trans-dark-overlay{
    background-color:rgba(0,0,0,.29)
}
.trans-color-overlay{
    background-color:rgba(255,248,95,.5)
}
html.preloader-running .sticky-sidebar{
    display:block
}
div#preloader.signature-hans{
    background:#fff;
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:99999
}
div#preloader.signature-hans.fluidview{
    left:0
}
#status{
    width:200px;
    height:200px;
    position:fixed;
    left:50%;
    top:50%;
    background-image:url(../images/loader.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-size:80px 80px;
    margin:-100px 0 0 -100px
}
header.masthead.signature-hans{
    padding:40px;
    width:100%;
    z-index:9990
}
header.masthead.floating-top{
    position:absolute
}
.valign,fieldset{
    position:relative
}
header.masthead.signature-hans img{
    margin-top:10px
}
footer.mastfoot.signature-hans{
    background-color: #262626;
    padding:60px 40px
}
.social-wrap{
    padding:0
}
.foot-social{
    list-style:none;
    padding:0
}
.foot-social li{
    display:inline-block;
    margin-left:2px;
    margin-bottom:0
}
.foot-social li a>img{
    width:32px;
    opacity:1;
    -webkit-transition:all .8s linear;
    -moz-transition:all .8s linear;
    -ms-transition:all .8s linear;
    -o-transition:all .8s linear;
    transition:all .8s linear
}
.foot-social li a>img:hover,.team-social1 li a>img{
    -webkit-transition:all .8s linear;
    -moz-transition:all .8s linear;
    -ms-transition:all .8s linear;
    -o-transition:all .8s linear
}
.foot-social li a>img:hover{
    opacity:.5;
    transition:all .8s linear
}

#we{
    color: #fff;

}

.credits p{
    font-size:12px;
    line-height:19px
}
nav.mastnav.signature-hans{
    display:none;
    position:relative;
    top:0;
    right:0;
    width:100%;
    z-index:9999;
    text-align:center;
    border:none
}
nav.mastnav.fsignature-hans ul{
    list-style-type:none;
    padding:0;
    margin:0
}
nav.mastnav.signature-hans ul li{
    margin:20px;
    display:inline-block
}
.sub-menu{
    position:absolute;
    display:none;
    margin-top:0;
    text-align:left;
    padding:20px 0 0
}
.sub-menu a{
    display:block;
    font-size:10px;
    line-height:10px;
    padding:15px 20px;
    border-bottom:solid 1px #222
}
.main-link{
    font-size:12px;
    letter-spacing:2px
}
.menu-close-notification{
    display:none
}
.menu-close-notification span{
    font-size:34px;
    position:absolute;
    right:18px;
    top:0
}
.intro-caps h3{
    font-size:88px;
    line-height:88px;
    letter-spacing:12px
}
.intro-caps h5{
    margin-top:30px
}
.intro-caps h5 span{
    padding:10px;
    font-size:14px;
    line-height:21px;
    letter-spacing:6px
}
.team-info{
    padding:20px
}
.team-overlay{
    display:block;
    border-left:solid 15px;
    border-right:solid 15px;
    padding:30px 20px 20px
}
.team-block.s
ignature-hans{
    text-align:center
}
.team-block.signature-hans img.team-thumb{
    border-radius:50%;
    width:200px;
    height:200px;
    display:inline-block
}
.team-overlay p{
    font-size:11px
}
.team-social1{
    list-style:none;
    display:block;
    padding:10px 0;
    margin-top:20px
}
.team-social1 li{
    display:inline-block;
    margin-left:2px;
    margin-bottom:0
}
.team-social1 li a>img{
    width:32px;
    opacity:1;
    transition:all .8s linear
}
.team-social1 li a>img:hover,input{
    -moz-transition:all .8s linear;
    -ms-transition:all .8s linear;
    -o-transition:all .8s linear
}
.team-social1 li a>img:hover{
    opacity:.5;
    -webkit-transition:all .8s linear;
    transition:all .8s linear
}
.elements-counter-wrap.signature-hans .subject{
    padding:6px 3px;
    margin-top:10px;
    font-size:14px
}
.elements-counter.signature-hans{
    border-right:none
}
.services.signature-hans .service-block.signature-hans{
    padding:30px
}
.services.signature-hans .service-block.signature-hans span{
    font-size:72px;
    line-height:50px;
    padding:20px;
    height:110px;
    width:110px;
    border-radius:50%;
    text-align:center;
    display:inline-block
}
.services.signature-hans .service-block.signature-hans h3{
    font-size:14px;
    line-height:21px;
    font-weight:400;
    text-transform:uppercase;
    margin-top:20px
}
.call-to-action.signature-hans h3{
    font-size:24px;
    line-height:48px
}
.journal.signature-hans .news-block.signature-hans span{
    font-size:36px
}
.journal.signature-hans .news-block.signature-hans h3{
    font-size:14px;
    line-height:21px;
    font-weight:400
}
.journal.signature-hans .news-block.signature-hans h2{
    font-size:24px;
    line-height:31px;
    font-weight:400
}
.journal.signature-hans .news-head{
    padding:80px;
    text-align:left
}
.project-title.signature-hans{
    padding-left:20px;
    padding-right:20px
}
.project-title.signature-hans h1{
    font-size:18px;
    line-height:25px;
    letter-spacing:2px
}
.project-title.signature-hans h1>span{
    font-size:14px;
    line-height:21px;
    letter-spacing:0;
    text-transform:none
}
.project-title.signature-hans h1>span:before{
    font-size:18px;
    line-height:25px;
    letter-spacing:2px;
    content:'/';
    padding-right:10px;
    margin-left:10px
}
.project-spec.signature-hans{
    list-style-type:none;
    padding:0;
    margin:0
}
.project-spec.signature-hans li{
    padding:10px 0;
    border-top:solid 1px #eee;
    font-size:12px;
    line-height:24px
}
.project-spec.signature-hans li:last-child{
    border-bottom:solid 1px #eee
}
.project-nav-icon-wrap{
    list-style-type:none;
    margin:0;
    padding:40px 0;
    text-align:center
}
.project-nav-icon-wrap li{
    display:inline-block;
    margin:1px;
    background-color:#fff;
    padding:20px;
    border-radius:50%;
    -webkit-transition:all .4s linear;
    -moz-transition:all .4s linear;
    -ms-transition:all .4s linear;
    -o-transition:all .4s linear;
    transition:all .4s linear
}
.parallax-showcase-overlay,.project-nav-icon-wrap li:hover{
    -webkit-transition:all .4s linear;
    -moz-transition:all .4s linear;
    -ms-transition:all .4s linear;
    -o-transition:all .4s linear
}
.project-nav-icon-wrap li:hover{
    transition:all .4s linear
}
.project-nav-icon-wrap li a img{
    width:24px
}
.parallax-showcase-overlay{
    opacity:0;
    background-color:rgba(0,0,0,.8);
    transition:all .4s linear
}
.parallax-showcase:hover .parallax-showcase-overlay{
    opacity:1;
    -webkit-transition:all .4s linear;
    -moz-transition:all .4s linear;
    -ms-transition:all .4s linear;
    -o-transition:all .4s linear;
    transition:all .4s linear
}
.works-item.signature-hans a,.works-item.signature-hans a:hover{
    text-decoration:none!important;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out
}
.works-filter-panel.signature-hans{
    display:none;
    width:100%;
    height:100px;
    z-index:9999;
    position:fixed;
    top:0;
    left:0
}
.works-filter-panel.trans-dark-bg{
    background-color:rgba(0,0,0,.9)
}
.filter-notification.signature-hans{
    margin-left:10px
}
.filter-notification.signature-hans span,.menu-notification span{
    font-size:34px;
    float:right;
    margin-left:20px
}
.works-filter.signature-hans{
    list-style:none;
    padding:0;
    margin:0
}
.works-filter.signature-hans li{
    display:inline-block;
    margin-left:10px;
    margin-right:10px
}
.works-filter.signature-hans li a{
    font-size:24px;
    line-height:31px
}
.works-container.signature-hans{
    padding:0;
    margin:70px auto 0;
    overflow:hidden
}
.works-filter.signature-hans li:last-child:after{
    display:none
}
.works-item.signature-hans a{
    opacity:0;
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    z-index:100;
    text-align:center;
    transition:all .4s ease-in-out
}
.works-item.signature-hans a:hover{
    opacity:1;
    transition:all .4s ease-in-out
}
.info a:hover,.zoom a:hover{
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out
}
.info a:hover{
    cursor:url(../images/plus.png) 40 40,crosshair;
    transition:all .4s ease-in-out
}
.zoom a:hover{
    cursor:url(../images/zoom.png) 40 40,crosshair;
    transition:all .4s ease-in-out
}
.works-item-inner{
    text-align:left;
    padding:0 100px
}
.works-thumbnails-view{
    margin-top:40px
}
.works-thumbnails-view .works-item-inner{
    text-align:left;
    padding:40px
}
.works-thumbnails-view .works-item-inner p>span{
    font-size:14px;
    letter-spacing:normal;
    line-height:21px;
    margin-top:0;
    border-bottom:solid 5px;
    padding-bottom:5px;
    text-transform:none
}
.works-item-inner h3>span{
    font-size:12px;
    letter-spacing:normal;
    line-height:19px;
    text-transform:none;
    margin-bottom:5px;
    border-bottom:solid 2px;
    font-weight:200
}
.works-item-inner p>span{
    font-size:14px;
    line-height:25px;
    letter-spacing:8px;
    margin-top:0;
    text-transform:uppercase
}
.works-item-fade{
    opacity:.1;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
input,input:focus,textarea:focus{
    -webkit-transition:all .8s linear
}
.works-item-fade a{
    display:none!important
}
.works-masonry-container{
    padding:0;
    margin:0!important
}
.works-masonry-container .works-item-one-third{
    margin:0!important;
    padding:0!important;
    width:33.3%!important
}
.works-masonry-container .works-item-two-third{
    margin:0!important;
    padding:0!important;
    width:66.6%!important
}
.works-masonry-container .works-item-one-half{
    margin:0!important;
    padding:0!important;
    width:50%!important
}
.works-masonry-container .works-item-one-fourth{
    margin:0!important;
    padding:0!important;
    width:25%!important
}
.works-masonry-container .works-item-full-width{
    margin:0!important;
    padding:0!important;
    width:100%!important
}
.works-masonry-container .works-item-one-third-spaced{
    margin:1%!important;
    padding:0!important;
    width:31.3%!important
}
.works-masonry-container .works-item-one-half-spaced{
    margin:1%!important;
    padding:0!important;
    width:48%!important
}
.works-masonry-container .works-item-two-third-spaced{
    margin:1%!important;
    padding:0!important;
    width:64.6%!important
}
.works-masonry-container .works-item-one-fourth-spaced{
    margin:1%!important;
    padding:0!important;
    width:23%!important
}
.isotope,.isotope .isotope-item{
    -webkit-transition-duration:.8s;
    -moz-transition-duration:.8s;
    -ms-transition-duration:.8s;
    -o-transition-duration:.8s;
    transition-duration:.8s
}
.isotope{
    -webkit-transition-property:height,width;
    -moz-transition-property:height,width;
    -ms-transition-property:height,width;
    -o-transition-property:height,width;
    transition-property:height,width
}
.isotope .isotope-item{
    -webkit-transition-property:-webkit-transform,opacity;
    -moz-transition-property:-moz-transform,opacity;
    -ms-transition-property:-ms-transform,opacity;
    -o-transition-property:-o-transform,opacity;
    transition-property:transform,opacity
}
.isotope .isotope-item.no-transition,.isotope.no-transition,.isotope.no-transition .isotope-item{
    -webkit-transition-duration:0s;
    -moz-transition-duration:0s;
    -ms-transition-duration:0s;
    -o-transition-duration:0s;
    transition-duration:0s
}
.email-wrap{
    padding-top:20px
}
.contact-mail{
    font-size:18px;
    line-height:25px;
    font-weight:300
}
input,textarea{
    box-shadow:none!important;
    font-size:14px!important;
    line-height:20px!important;
    font-weight:300!important;
    padding:10px 0!important;
    width:100%
}
input{
    background:0 0!important;
    border:none!important;
    border-bottom:1px solid!important;
    border-radius:0!important;
    margin-bottom:30px!important;
    transition:all .8s linear
}
input:focus,textarea,textarea:focus{
    -moz-transition:all .8s linear;
    -ms-transition:all .8s linear;
    -o-transition:all .8s linear
}
input:focus,textarea:focus{
    transition:all .8s linear
}
textarea{
    background:url(../images/textarea.html)!important;
    border:none!important;
    border-bottom:1px solid!important;
    border-radius:0!important;
    margin-bottom:0!important;
    resize:none;
    -webkit-transition:all .8s linear;
    transition:all .8s linear
}
input,textarea{
    border-color:#232323!important;
    color:#999!important
}
input.send_message{
    cursor:pointer;
    float:left;
    font-size:12px;
    font-weight:400;
    margin:0;
    width:120px
}
fieldset{
    border:0;
    float:left;
    padding:0;
    width:100%
}
fieldset h1{
    font-size:24px
}
.contact-label-box{
    font-weight:300;
    font-size:24px;
    line-height:31px;
    padding:30px 20px;
    text-align:center
}
.contact-label-box>span{
    display:block;
    margin-right:10px
}
.contact-label-box>span>img{
    height:60px;
    width:60px
}
.contact-label-box a:hover{
    text-decoration:none
}
.contact .alert{
    box-shadow:none;
    border:none;
    border-radius:0;
    text-shadow:none;
    font-size:12px;
    line-height:19px;
    font-weight:300;
    margin-bottom:10px;
    padding:10px;
    text-align:left
}
.alert>p,.contact-address{
    font-size:14px;
    line-height:21px
}
.btn-wrap{
    margin-top:30px
}
.space-left{
    margin-left:1%
}
.alert{
    margin-top:0;
    border-radius:0;
    -webkit-transition:all .8s linear;
    -moz-transition:all .8s linear;
    -ms-transition:all .8s linear;
    -o-transition:all .8s linear;
    transition:all .8s linear
}
.alert>p{
    text-shadow:none;
    font-weight:300
}
.contact-address{
    font-weight:200
}
.email-wrap{
    font-size:24px;
    font-weight:600;
    line-height:31px;
    margin-top:10px;
    margin-bottom:20px;
    padding:0
}
.btn-signature,.btn-signature-big{
    border:none;
    text-decoration:none;
    padding:15px 20px;
    text-transform:uppercase;
    margin-top:20px;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out
}
.btn-signature{
    border-radius:0;
    font-size:12px;
    line-height:19px;
    letter-spacing:4px;
    transition:all .4s ease-in-out
}
.btn-signature-big{
    border-radius:0;
    font-size:18px;
    line-height:25px;
    letter-spacing:1px;
    transition:all .4s ease-in-out
}
.btn-signature:hover,.ease,.ease:hover{
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out
}
.btn-signature:hover{
    transition:all .4s ease-in-out
}
.btn-signature-white{
    border:none;
    background:#fff;
    color:#fff
}
.btn-signature-dark{
    border:none;
    background:#000;
    color:#fff
}
.btn-signature-color{
    border:none;
    background:0 0
}
.img-bg,.parallax{
    background-size:cover
}
.add-top,.add-top-half{
    margin-top:80px
}
.add-top-quarter{
    margin-top:40px
}
.add-bottom{
    margin-bottom:160px
}
.add-bottom-half{
    margin-bottom:80px
}
.add-bottom-quarter{
    margin-bottom:40px
}
.pad{
    padding:60px
}
.pad-top{
    padding-top:160px
}
.pad-top-half{
    padding-top:80px
}
.pad-top-quarter{
    padding-top:40px
}
.pad-bottom{
    padding-bottom:160px
}
.pad-bottom-half{
    padding-bottom:80px
}
.pad-bottom-quarter{
    padding-bottom:40px
}
.pad-left-half{
    padding-left:60px
}
.pad-left-quarter{
    padding-left:30px
}
.remove-top{
    margin-top:0!important
}
.ease,.ease:hover{
    transition:all .4s ease-in-out
}
.no-pad{
    padding:0!important
}
.valign{
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%)
}
.overlay{
    position:absolute;
    top:0;
    left:0
}
.img-bg{
    background-position:center center;
    background-repeat:no-repeat
}
.parallax{
    background-attachment:fixed;
    width:100%;
    height:100%;
    position:relative
}
.no-parallax,.parallax-off{
    background-attachment:scroll!important;
    background-size:cover!important;
    background-position:center center!important;
    width:100%
}
.no-scroll-xy{
    overflow:hidden!important;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
.poster-img{
    background:url(../images/poster.html) center center no-repeat!important;
    background-size:cover!important
}
.color{
    color:#fff85f
}
/* .white{
    font-weight: 900;
    color:red;
} */
.silver{
    color:#f0f4f4
}
.grey{
    color:#585858
}
.dark{
    color:#292929
}
.black,a{
    color:#121212
}
.color-bg{
    background-color:#fff85f
}
.white-bg{
    background-color:#fff
}
.silver-bg{
    background-color:#f0f4f4
}
.grey-bg{
    background-color:#ccc
}
.dark-bg{
    background-color:#292929
}
.black-bg{
    background-color:#121212
}
a:hover{
    color:#fff85f
}
::selection{
    background:#fff85f;
    color:#fff
}
::-moz-selection{
    background:#fff85f;
    color:#fff
}
body,p{
    color:#292929
}
.btn-signature-color{
    background-color:#fff85f!important;
    color:#292929!important
}
.btn-signature-color:hover{
    border:none;
    background-color:#121212!important;
    color:#fff!important
}
.btn-signature-dark:hover{
    border:none;
    background-color:#fff!important;
    color:#292929!important
}
.btn-signature-white:hover{
    border:none;
    background-color:#292929!important;
    color:#fff!important
}
.sub-menu,.team-overlay,.works-thumbnails-view .works-item-inner p>span,sub-menu{
    border-color:#fff
}
.works-filter.signature-hans li a{
    color:#fff
}
.works-filter.signature-hans li a:hover{
    color:#fff85f
}
.filter-notification,.filter-notification:visited{
    color:#121212!important
}
.main-link{
    color:#000
}
.sub-menu a{
    color:#f0f4f4
}
.main-link:hover{
    color:#403e00e6!important
}
.sub-menu a:hover{
    color:#292929!important;
    background-color:#fff85f!important
}
.project-nav-icon-wrap li:hover{
    background-color:#fff85f
}
.owl-next,.owl-prev{
    background-color:#fff85f!important;
    color:#292929!important
}
.filter-active span{
    color:#fff85f
}
.intro-caps h5 span{
    background-color:#fff85f
}
.font1{
    font-family:'Open Sans',sans-serif
}
.font2{
    font-family:Montserrat,sans-serif
}
.font3{
    font-family:designova_ss_regular,sans-serif
}
.font3xblack{
    font-family:designova_ss_xblack,sans-serif
}
.font3black{
    font-family:designova_ss_black,sans-serif
}
.font3bold{
    font-weight: bold;
    font-family:designova_ss_bold,sans-serif
}
.font3light{
    color: #ffff; 
    font-family:designova_ss_light,sans-serif
}
.font3xlight{
    font-family:designova_ss_xlight,sans-serif
}
.font3thin{
    font-family:designova_ss_thin,sans-serif
}
body,p{
    font-family:designova_ss_regular,sans-serif
}
.a{
    font-weight:bolder
}

.social-w3pvt-footer {
    border-top: 2px solid rgba(255, 255, 255, 0.38);
}

/* .col-md-6 {
text-shadow: 2px 2px 2px #0062cc;
font-size: 32px;
color: #fff;
font-weight: bold;
letter-spacing: 1px;
} */


/* copyright */
.cpy-right {
    background: #262626;
}

.cpy-right p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffff;
}

.cpy-right p a {
    color: yellow;
}
.cpy-right .font3 {
    margin-top: 10px;
}

.social-w3pvt-footer {
    border-top: 1px solid yellow;
    padding: 15px;
}

/* ul.foot-social.col-md-12 li a img{
    background-color: ;
} */

/* //copyright */

#ipm3{
    color: white;
}
 .img-fluid{
    height: 123px;
    width: 118px;
}
.img12{
    width: 500px;
    height: 340px;
    padding: 9px;
    margin-left: -44px;
    border-radius: 25px;
    /* margin-top: -9px; */
}
.img122{
    width: 500px;
    height: 340px;
    padding: 9px;
    margin-left: -44px;
    /* margin-top: -9px; */
}
.grey1{
    margin-right: 23px;
    color:#585858
}
a.move-tops {
    width: 34px;
    height: 34px;
    background: url(../images/move-top.png) no-repeat;
    display: inline-block;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 0;
}
.fullheight1{
    height: 210px;
}

/* page details */
ol.breadcrumb {
    justify-content: flex-end;
    background-color: #262626;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(74, 73, 73, 0.22);
    -moz-box-shadow: 0px 5px 12px 0px rgba(74, 73, 73, 0.22);
    box-shadow: 0px 5px 12px 0px rgba(74, 73, 73, 0.22);
    border-radius: unset;

}

.breadcrumb li a {
    color: #fff;
    background: #262626;
    padding: 14px 11px 13px 17px;;
    display: inline-block;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
     border-radius: 25px;
    font-size: 14px;
    letter-spacing: 1px;
    /* float: right; */
}

.breadcrumb-item.active {
    padding-top: .5em;
    font-size: 15px;
    letter-spacing: 1px;
    
    color: yellow;
}

/* //page details */


/*-- popup --*/
.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 20px;
    max-width: 500px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em;
    z-index: 999;
}
.popup p {
    color: #777;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #17a2b8;
}
/*-- //popup --*/

/* popup button */

.right-w3l input[type="submit"] {
    background: #17a2b8;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    width: auto;
    padding: 8px 25px;
    border-radius: 0;
}

.right-w3l input[type="submit"]:hover {
    background: #444;
}

.col-form-label {
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    font-size: 14px;
    letter-spacing: 2px;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background: #fff;
}

h5.modal-title {
    font-size: 1.5em;
    padding-left: 16px;
    padding-bottom: 10px;
    color: #ded518ba;
    font-weight: 600;
    box-shadow: 0px 5px 12px 0px #f5ec24d9;
    border-radius: 23px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.img-popup{
    color: red;
}
/*-- //popupbutton --*/

.font4light{
    color: red;
}